body {
  background-color: #1c1c1c; /* Set the background color of the entire page to black */
  margin: 0; /* Remove default body margin */
  display: flex; /* Use flexbox layout for the body */
  justify-content: center;
}

.options {
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Arrange options in a single column */
  align-items: flex-start; /* Align options to the start of the container */
}

.options-list {
  list-style-type: none; /* Remove default bullets */
  padding: 0;
  margin: 0;
}

.options-list li {
  color: #ffffff; /* Set text color of options */
  margin-bottom: 5px; /* Add some space between options */
}

.options-list li::before {
  content: '•'; /* Use a bullet point character */
  color: #8a4d76; /* Set the color of the bullet point */
  margin-right: 5px; /* Add some space between bullet point and text */
}

.description {
  color: #ffffff;
  max-width: 400px;
  padding: 20px;
}

.description h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.description p {
  font-size: 16px;
  line-height: 1.5;
}

.title {
  text-align: center;
}
